.App {
  text-align: center;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
}

#app {
  display: flex;
  flex-direction: row;
}

#sidebar {
  background-color: #282c34;
  padding-top: 2rem;
  width: 20rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5rem;
  font-weight: lighter;

  color: lightgrey;
}

#sidebar-header {
  height: 10rem;
}

#sidebar-menu {
  height: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body {
  width: calc(100% - 20rem);
}

#home-panel {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#home-panel header {
  border-bottom: 1px lightgrey solid;
  padding-bottom: 2rem;
}

#home-panel main {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

#post-panel {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  padding: 4rem;
}

.document-card {
  width: 15rem;
  margin: .5rem;
}

.document-card .card-footer,
.document-card .card-header {
  padding: 0 !important;
}

.document-card .card-content {
  padding: 1rem !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
