html, body {
  margin: 0;
  padding: 0;
/*   height: 100%;
  overflow: hidden; */
}



/* Show editor after annotation column. */
body {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 1rem 1rem;
}

/* #root {
  max-height: calc(100% - 100px);
} */

main {
  width: 100%;
}

#publish-dropdown {
  height: 40px;
  margin-bottom: 18px;
}

trix-toolbar {
  height: 40px;
}

trix-editor {
  height: calc(100vh - 3rem - 98px) !important;
  overflow-y: scroll;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: .04rem;
  line-height: 1.8rem;
}

.accordion-card {
  padding: 0 !important;
}

.highlight {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #14c39a;
  position: absolute;
  transition: width .7s ease-in-out;
  transition: background-color 200ms linear;
}

.highlight::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: relative;
  background-color: #333;
  top: -20px;
  opacity: 0;
  border-radius: 3px;
  pointer-events: none;
}

.highlight:hover .highlight::before {
  opacity: .1;
}

.highlight.active {
  background-color: #c000fe !important;
}

.highlight.deleted {
  background-color: #ff5e5e;
}

.highlight.selected {
  background-color: green !important;
}

/* #highlight .active {
  width:
} */

#sidebar-container {
  max-height: calc(100vh - 4rem) !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  max-width: 470px;
  padding-right: 1rem;
}

.sidebar {
  position: relative !important;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 10rem;
}

#sidebar-header {
  height: 50px;
}

#header-publish-dropdown {
  position: absolute !important;
  right: 2%;
  top: 3.2rem;
}

.accordion-toggle {
  cursor: pointer;
}

.term-toggle {
  background-color: #ebecf0;
}

#sidebar-logo {
  height: 85px !important;
}

.branding-below {
  bottom: 56px;
  top: 0;
}
.branding-text {
  left: 7px;
  position: relative;
  top: 3px;
}
.col-contain {
  overflow: hidden;
}
.col-one {
  float: left;
  width: 50%;
}
.logo {
  vertical-align: middle;
}
.radio-spacer {
  height: 20px;
}
.width-100 {
  width: 100%;
}

#loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

/* Ontology tree */
#tree > .ncboAutocomplete {
  margin-bottom: 1rem;
}

#tree > ul {
  max-height: 25vh;
  overflow: scroll;
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
